body {
	font-family: RM Pro;
	color: #000;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'BankGothicBT-Medium';
	text-transform: uppercase;
}

h1 {
	font-size: 70px;
	line-height: 60px;
}

h2 { font-size: 42px; }
h3 { font-size: 30px; }

h4 {
	font-size: 25px;
	font-family: RM Pro;
}

p {
    font-family: RM Pro;
    font-weight: 300;
}

a { font-family: RM Pro; }

a.btn {
    border-radius: 8px;
    letter-spacing: 1px;
    text-align: center;
    width: auto;
    font-size: 16px;
    padding: 0px 28px;
    border: 2px solid transparent;
    height: 50px;
    line-height: 46px;
    margin: 9px 0;
    text-transform: uppercase;
    color: #111;
}

a.btn-primary {
	background: #EF3340;
	color: #FFFFFF;
}

a.btn-primary:hover {
    background: transparent;
    color: #f03340;
    border: 2px solid #EF3340;
}

a.nav-link {
	font-family: RM Pro;
	font-size: 14px;
	color: #000000;
	letter-spacing: 1.2px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 24px 30px 23px 0px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30px;
	transition: 0.2s ease all;
}

a.nav-link:hover {
	color: #EF3340;
}

/*---- Social Navigation ----*/
ul.social {
    float: left;
}

ul.navbar-nav.social li.nav-item a.nav-link {
    position: relative;
	width: 30px;
    height: 30px;
    color: #000;
    float: left;
    display: block;
    padding: 0px 10px;
    background-position: 0px -5px;
}

ul.navbar-nav.social .channel-1,
ul.navbar-nav.social .channel-2,
ul.navbar-nav.social .channel-3,
ul.navbar-nav.social .channel-4,
ul.navbar-nav.social .channel-5 {
	width: auto;
	height: auto;
}

ul.navbar-nav.social li.nav-item.channel-5 a.nav-link {
    background-position: 0px 0px;
}

ul.social .channel-1 .nav-link {
	background-image: url(../images/facebook.png);
}
ul.social .channel-2 .nav-link {
	background-image: url(../images/twitter.png);
}
ul.social .channel-3 .nav-link {
	background-image: url(../images/instagram.png);
}
ul.social .channel-4 .nav-link {
	background-image: url(../images/pinterest.png);
}
ul.social .channel-5 .nav-link {
	background-image: url(../images/youtube.png);
}

ul.navbar-nav.social li.nav-item.explore .nav-link {
    width: auto;
    padding: 0 20px 0 60%;
    position: relative;
}

ul.navbar-nav.social li.nav-item.explore {
    width: 100%;
}

ul.navbar-nav.social li.nav-item.explore .nav-link:hover {
	color: #EF3340;
}

ul.navbar-nav.social li.nav-item.explore .nav-link span {
    position: absolute;
    right: 0px;
	top: 0px;
}

ul.navbar-nav.social li.nav-item.explore .nav-link {
    width: auto;
    padding: 0 20px 0 50%;
    position: relative;
    line-height: 30px;
}

.sub-header h1.stroke {
	font-size: 200px;
	border: 1px solid #fff;
	color: transparent;
	text-align: center;
}

.navbar-collapse {
	position: relative;
}

/*---- Header ----*/
nav.bg-light { background: #fff !important;}

.logo {
    position: absolute;
    margin-left: -100px;
    left: 50%;
    width: 200px;
	margin-right: 0;
}

.logo img {
	width: 100%;
	max-width: 190px;
}

/*---- Sub-header ----*/
.sub-header {
	
}


/*---- .hero ----*/
.hero {
    margin-top: 77px;
    background-image: url(../images/hero@2x.png);
    padding: 200px 0;
    background-size: cover;
	margin-bottom: 0;
}

.hero .hero-text {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    display: block;
    padding: 0px 0;
}

/*---- .intro ----*/
.intro {
    background-image: url(../images/pattern-1.gif);
    padding: 230px 0;
	margin-bottom: 0;
}

.intro img {
    max-width: 110px;
    margin: 0 auto;
    display: block;
    width: 100%;
	margin-bottom: 20px;
}

.intro p {
    font-size: 40px;
    color: #FFFFFF;
    letter-spacing: 0.5px;
    line-height: 56px;
    font-weight: 300;
    text-align: center;
}

.intro p span {
	font-weight: 600;
}

.intro a.btn-link {
	font-family: 'BankGothicBT-Medium';
	font-size: 30px;
	color: #545454;
	letter-spacing: 0.5px;
	line-height: 63px;
	text-align: center;
	width: 100%;
	text-decoration: none;
	transition: 0.2s ease all;
}

.intro a.btn-link:hover {
	color: #EF3340;
	letter-spacing: 2px;
	font-size: 32px;
}

.donation {
    margin: 0px;
    padding: 0;
}

.donation .v-grid {
    height: 500px;
    width: 100%;
}

.donation .one,
.donation .two,
.donation .three,
.donation .four,
.donation .five {
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
    float: left;
	position: relative;
}

.donation .one {
	background-image: url(../images/v-grid-img-1.jpg);
}
.donation .two {
	background-image: url(../images/v-grid-img-2.jpg);
}
.donation .three {
	background-image: url(../images/v-grid-img-3.jpg);
}
.donation .four {
	background-image: url(../images/v-grid-img-4.jpg);
}
.donation .five {
	background-image: url(../images/v-grid-img-5.jpg);
}

.donation .donate-btn {
    position: absolute;
    height: 100%;
    color: #fff;
    line-height: 500px;
    margin: 0;
    width: 100%;
    background: rgba(0,0,0,0.85);
    border-radius: 0;
    padding: 0 0;
	transition: 0.2s ease all;
}

.donation .donate-btn:hover {
    background: rgba(239, 51, 64, 0.5);
}

.donation .donate-btn a {
    position: absolute;
    height: 50px;
    line-height: 50px;
    color: #fff;
    margin: 0;
    width: 180px;
    background: transparent;
    border: 2px solid #fff;
    left: 50%;
    margin-left: -90px;
	top: 50%;
    margin-top: -25px;
	transition: 0.2s ease all;
}

.donation .donate-btn:hover a {
	background: #EF3340;
	border: 2px solid #EF3340;
    height: 460px;
    line-height: 460px;
    margin: 0;
    width: 90%;
    left: 5%;
    margin-left: 0px;
	top: 20px;

}

.third-block { width: 33.33333%;}
.qrt-block { width: 25%;}
.half-block { width: 50%;}
.twothirds-block { width: 66.6666%;}

/*---- Invite a Friend ----*/
.friend {
	margin-bottom: 0px;
    padding: 200px 0;
    background-image: linear-gradient(90deg, rgba(207, 207, 207, 0.3) 0%, rgb(210, 210, 210) 60%), url(../images/invitefriend.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    min-height: 580px;
    float: left;
    width: 100%;
}

.friend .content {
    float: right;
    width: 53.5%;
    padding-right: 40px;
}

.friend p {
	font-size: 28px;
	color: #000000;
	letter-spacing: 0.42px;
	line-height: 40px;
}

.friend h2 {
    line-height: 40px;
    font-size: 48px;
    letter-spacing: 0;
    margin-bottom: 25px;
}

.friend p {
    font-size: 24px;
    color: #000000;
    line-height: 36px;
    margin-bottom: 40px;
}

/*---- .blog ----*/

.blog {
    float: left;
    width: 100%;
}

.blog .container.posts {
    margin: 0px auto 80px;
    float: left;
    width: 100%;
    max-width: 100%;
}

.blog .container.more {
    margin: 0px auto 80px;
    float: left;
    width: 100%;
    max-width: 100%;
}

.blog h3 {
    text-align: center;
    padding: 80px 0;
    float: left;
    width: 100%;
}

.blog .third-block {
    float: left;
    padding: 0 14px;
}

.blog .third-block img {
	width: 100%;
}

.blog .third-block h4 {
    font-size: 20px;
    color: #000000;
    letter-spacing: 0.31px;
    margin-top: 20px;
}

.blog .third-block p {
	font-size: 18px;
	color: #000000;
	letter-spacing: 0.21px;
	line-height: 24px;
	margin-top: 16px;
}

.blog .third-block a.btn.btn-link {
    font-size: 12px;
    color: #000000;
    letter-spacing: 1.03px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    height: auto;
}

.blog .third-block a.btn.btn-link:hover {
	color: #EF3340;
}

.blog a.btn-primary {
    text-align: center;
    width: 200px;
    margin: 0 auto;
    display: block;
    clear: both;
}


/*---- Footer ----*/
footer {
    background-image: url(../images/pattern-2.gif);
    width: 100%;
    clear: both;
}

/*---- .subscribe ----*/
footer .subscribe {
    padding: 80px 0;
    text-align: center;
}

footer .subscribe h4 {
    font-family: RM Pro;
    font-size: 22px;
    color: #FFFFFF;
    letter-spacing: 0.42px;
    line-height: 40px;
    font-weight: 200;
    margin-bottom: 38px;
}

.form-group {
    position: relative;
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    clear: both;
    min-height: 54px;
}

footer .subscribe form input {
     width: 100%;
    float: left;
    height: 54px;
    border-radius: 8px 30px 30px 8px;
    border: none !important;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 20px;
    letter-spacing: 1px;
}

footer .subscribe .no-spam {
    display: block;
    width: 100%;
    color: #afafaf;
    font-weight: 200;
    padding: 20px 0 0;
    font-size: 15px;
}

footer .subscribe button {
    background: #000000;
    color: #FFFFFF;
    border-radius: 0px 8px 8px 0px;
    border: none;
    position: absolute;
    right: 0px;
	letter-spacing: 0.5px;
    padding: 15px 40px;
    text-transform: uppercase;
	font-weight: 400;
}

footer .subscribe button:hover {
	background: #EF3340;
}

footer .bottom-bar {
	background: #000;
	width: 100%;
	float: left;
}

footer .bottom-bar .nav-link {
	display: inline;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1.29px;
	float: left;
}

footer .bottom-bar .nav-link:hover {
	color: #EF3340;
}

footer .bottom-bar p.copyright {
	color: #737373;
	font-size: 14px;
	margin: 0;
	padding: 22px 0;
	letter-spacing: 0.3px;
}

footer .bottom-bar p.copyright a {
	color: #737373;
	text-decoration: underline;
}
