body {
	font-family: RM Pro;
	color: #000;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'BankGothicBT-Medium';
	text-transform: uppercase;
}

h1 {
	font-size: 70px;
	line-height: 60px;
}

h2 { font-size: 42px; }
h3 { font-size: 30px; }

h4 {
	font-size: 25px;
	font-family: RM Pro;
}

p {
    font-family: RM Pro;
    font-weight: 300;
}

a { font-family: RM Pro; }

a.btn {
    border-radius: 8px;
    letter-spacing: 1px;
    text-align: center;
    width: auto;
    font-size: 16px;
    padding: 0px 28px;
    border: 2px solid transparent;
    height: 50px;
    line-height: 46px;
    margin: 9px 0;
    text-transform: uppercase;
    color: #111;
}

a.btn-primary {
	background: #EF3340;
	color: #FFFFFF;
}

a.btn-primary:hover {
    background: transparent;
    color: #f03340;
    border: 2px solid #EF3340;
}

.btn.btn-stroke {
	background: transparent;
	border: 2px solid #EF3340;
	color: #FFFFFF;
}

.btn.btn-stroke:hover {
   	background: #EF3340;
	color: #FFFFFF;
	border: 2px solid #EF3340;
}

a.nav-link {
	font-family: RM Pro;
	font-size: 14px;
	color: #000000;
	letter-spacing: 1.2px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 24px 30px 23px 0px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30px;
	transition: 0.2s ease all;
}

a.nav-link:hover {
	color: #EF3340;
}

/*---- Social Navigation ----*/
ul.social {
    float: left;
}

ul.navbar-nav.social li.nav-item a.nav-link {
    position: relative;
	width: 30px;
    height: 30px;
    color: #000;
    float: left;
    display: block;
    padding: 0px 10px;
    background-position: 0px -5px;
}

ul.navbar-nav.social .channel-1,
ul.navbar-nav.social .channel-2,
ul.navbar-nav.social .channel-3,
ul.navbar-nav.social .channel-4,
ul.navbar-nav.social .channel-5 {
	width: auto;
	height: auto;
}

ul.navbar-nav.social li.nav-item.channel-5 a.nav-link {
    background-position: 0px 0px;
}

ul.social .channel-1 .nav-link {
	background-image: url(../images/facebook.png);
}
ul.social .channel-2 .nav-link {
	background-image: url(../images/twitter.png);
}
ul.social .channel-3 .nav-link {
	background-image: url(../images/instagram.png);
}
ul.social .channel-4 .nav-link {
	background-image: url(../images/pinterest.png);
}
ul.social .channel-5 .nav-link {
	background-image: url(../images/youtube.png);
}

ul.navbar-nav.social li.nav-item.explore {
    width: 100%;
	position: relative
}

ul.navbar-nav.social li.nav-item.explore .nav-link {
    width: auto;
    padding: 1px 16px 0 40px;
    position: relative;
    line-height: 30px;
}

ul.navbar-nav.social li.nav-item.explore .nav-link:hover {
	color: #EF3340;
}

ul.navbar-nav.social li.nav-item.explore .nav-link span {
    position: absolute;
    right: 0px;
	top: 0px;
}

.explore ul {
	display: none;
    list-style: none;
    text-align: left;
    position: absolute;
    top: 25px;
    background: #fff;
    padding: 52px 0 20px 20px;
    width: 190px;
	border-radius: 0 0 6px 6px;
}

.explore ul li {
    display: block;
}

.explore ul li a {
    color: #000;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.25s ease all;
    letter-spacing: 1px;
    font-family: RM pro;
    font-weight: 600;
    font-size: 14px;
}

.explore ul li a:hover {
	color: #EF3340;
}

.explore:hover ul {
	display: block;
}

.sub-header h1.stroke {
	font-size: 200px;
	border: 1px solid #fff;
	color: transparent;
	text-align: center;
}

.navbar-collapse {
	position: relative;
}

/*---- Header ----*/
nav.bg-light { background: #fff !important;}

.logo {
    position: absolute;
    margin-left: -100px;
    left: 50%;
    width: 200px;
	margin-right: 0;
}

.logo img {
	width: 100%;
	max-width: 190px;
}

@media only screen and (max-width: 768px) {
	  
}

@media only screen and (max-width: 640px) {
	
}

/*---- .subheader ----*/
.subheader {
    margin-top: 84px;
    background-image: url(../images/hero@2x.png);
    padding: 180px 0;
    background-size: cover;
	margin-bottom: 0;
}

.subheader .page-title {
    font-size: 150px;
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    text-align: center;
    line-height: 120px;
    display: block;
    height: auto;
    margin: 0;
    letter-spacing: -10px;
}

@media only screen and (max-width: 768px) {
	  
}

@media only screen and (max-width: 640px) {
	
}

@media only screen and (max-width: 465px) {
	
}

/*---- .split-block ----*/

.split-block {
    width: 100%;
    background: #2B2B2B;
    min-height: 300px;
    overflow: hidden;
}

.split-block .half {
	width: 50%;
	padding: 0;
}

@media only screen and (max-width: 992px) {
	.split-block .half.float-left {
		width: 100%;
		padding: 80px;
	}
}

.split-block .half h2 {
	font-size: 38px;
    color: #fff;
    padding: 80px 40px 20px;
    margin: 0;
}

.split-block .half p {
	font-weight: 200;
	font-size: 21px;
	color: #FFFFFF;
	letter-spacing: 0.33px;
	line-height: 30px;
    padding: 0px 40px 60px;
    margin: 0;
}

.split-block .half img {
    min-width: 100%;
    width: 100%;
}

@media only screen and (max-width: 992px) {
	.split-block .half {
		width: 100%;
		padding: 0;
	}
	
	.split-block .half h2, .split-block .half p {
		text-align: center;
		padding: 0;
	}
}


/*---- .hero ----*/
.hero {
    margin-top: 84px;
    background-image: url(../images/hero@2x.png);
    padding: 240px 0;
    background-size: cover;
	margin-bottom: 0;
}

.hero .title-1 {
    font-size: 280px;
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    text-align: center;
    line-height: 170px;
    display: block;
    height: auto;
    margin: 0;
}

.hero .title-2 {
    font-size: 156px;
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    text-align: center;
    margin: 0;
    line-height: 94px;
}

.hero .title-3 {
    font-size: 167px;
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    text-align: center;
    margin: 0;
    line-height: 100px;
}

@media only screen and (max-width: 768px) {
	  
}

@media only screen and (max-width: 640px) {
	
}

/*---- Subheader Intro Block ----*/
.sub-intro {
    background: #fff;
    padding: 120px 0;
	text-align: center;
}

.sub-intro .container {
	max-width: 1200px;
	width: 100%;
	padding-left:  40px;
	padding-right:  40px;
}

.sub-intro h2 {
	font-family: RM pro;
	font-weight: 600;
	font-size: 35px;
	color: #231F20;
	letter-spacing: 0.5px;
	line-height: 35px;
	text-transform: none;
}

.sub-intro p {
	font-weight: 200;
	font-size: 28px;
	color: #231F20;
	letter-spacing: 0.5px;
	line-height: 40px;
}

/*---- .cta-center ----*/
.cta-center {
    margin-top: 0;
    background: #fff;
    padding: 130px 0;
    background-size: cover;
	margin-bottom: 0;
	clear: both;
	text-align: center;
}

.cta-center p {
    font-weight: 200;
	font-size: 28px;
	color: #231F20;
	letter-spacing: 0.5px;
	line-height: 40px;
}

.cta-center a.btn {

}

/*---- .intro ----*/
.intro {
    background-image: url(../images/pattern-1.gif);
    padding: 230px 0;
	margin-bottom: 0;
	clear: both;
}

.intro img {
    max-width: 110px;
    margin: 0 auto;
    display: block;
    width: 100%;
	margin-bottom: 20px;
}

.intro p {
    font-size: 34px;
    color: #FFFFFF;
    letter-spacing: 0.5px;
    line-height: 50px;
    font-weight: 300;
    text-align: center;
}

.intro p {
    font-size: 26px;
    color: #FFFFFF;
    letter-spacing: 0.5px;
    line-height: 38px;
    font-weight: 300;
    text-align: center;
}

.intro p span {
	font-weight: 600;
}

.intro.about {
	padding: 180px 0;
}


.intro a.btn-link {
	font-family: 'BankGothicBT-Medium';
	font-size: 30px;
	color: #545454;
	letter-spacing: 0.5px;
	line-height: 63px;
	text-align: center;
	width: 100%;
	text-decoration: none;
	transition: 0.2s ease all;
}

.intro a.btn-link:hover {
	color: #EF3340;
	letter-spacing: 2px;
	font-size: 32px;
}

@media only screen and (max-width: 768px) {
	.intro.about {
		padding: 120px 0;
	}
	
	.intro p, .intro.about p {
		font-size: 26px;
		color: #FFFFFF;
		letter-spacing: 0.5px;
		line-height: 38px;
		font-weight: 300;
		text-align: center;
	}
}

/*---- Donation Block Styles ----*/
.donation {
    margin: 0px;
    padding: 0;
}

.donation .v-grid {
    height: 500px;
    width: 100%;
}

.donation .one,
.donation .two,
.donation .three,
.donation .four,
.donation .five {
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
    float: left;
	position: relative;
}

.donation .one {
	background-image: url(../images/v-grid-img-1.jpg);
}
.donation .two {
	background-image: url(../images/v-grid-img-2.jpg);
}
.donation .three {
	background-image: url(../images/v-grid-img-3.jpg);
}
.donation .four {
	background-image: url(../images/v-grid-img-4.jpg);
}
.donation .five {
	background-image: url(../images/v-grid-img-5.jpg);
}

.donation .donate-btn {
    position: absolute;
    height: 100%;
    color: #fff;
    line-height: 500px;
    margin: 0;
    width: 100%;
    background: rgba(0,0,0,0.85);
    border-radius: 0;
    padding: 0 0;
	transition: 0.2s ease all;
}

.donation .donate-btn:hover {
    background: rgba(239, 51, 64, 0.5);
}

.donation .donate-btn a {
    position: absolute;
    height: 50px;
    line-height: 50px;
    color: #fff;
    margin: 0;
    width: 180px;
    background: transparent;
    border: 2px solid #fff;
    left: 50%;
    margin-left: -90px;
	top: 50%;
    margin-top: -25px;
	transition: 0.2s ease all;
}

.donation .donate-btn:hover a {
	background: #EF3340;
	border: 2px solid #EF3340;
    height: 460px;
    line-height: 460px;
    margin: 0;
    width: 90%;
    left: 5%;
    margin-left: 0px;
	top: 20px;

}

.third-block { width: 33.33333%;}
.qrt-block { width: 25%;}
.half-block { width: 50%;}
.two-thirds-block { width: 66.6666%;}

/*---- Invite a Friend ----*/
.friend {
	margin-bottom: 0px;
    padding: 200px 0;
    background-image: linear-gradient(90deg, rgba(207, 207, 207, 0.3) 0%, rgb(210, 210, 210) 60%), url(../images/invitefriend.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    min-height: 580px;
    float: left;
    width: 100%;
}

.friend .content {
    float: right;
    width: 53.5%;
    padding-right: 40px;
}

.friend p {
	font-size: 28px;
	color: #000000;
	letter-spacing: 0.42px;
	line-height: 40px;
}

.friend h2 {
    line-height: 40px;
    font-size: 48px;
    letter-spacing: 0;
    margin-bottom: 25px;
}

.friend p {
    font-size: 24px;
    color: #000000;
    line-height: 36px;
    margin-bottom: 40px;
}

/*---- .blog ----*/

.blog {
    float: left;
    width: 100%;
}

.blog .container.posts {
    margin: 0px auto 80px;
    float: left;
    width: 100%;
    max-width: 100%;
}

.blog .container.more {
    margin: 0px auto 80px;
    float: left;
    width: 100%;
    max-width: 100%;
}

.blog h3 {
    text-align: center;
    padding: 80px 0;
    float: left;
    width: 100%;
}

.blog .third-block {
    float: left;
    padding: 0 14px;
}

.blog .third-block img {
	width: 100%;
}

.blog .third-block h4 {
    font-size: 20px;
    color: #000000;
    letter-spacing: 0.31px;
    margin-top: 20px;
}

.blog .third-block p {
	font-size: 18px;
	color: #000000;
	letter-spacing: 0.21px;
	line-height: 24px;
	margin-top: 16px;
}

.blog .third-block a.btn.btn-link {
    font-size: 12px;
    color: #000000;
    letter-spacing: 1.03px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    height: auto;
}

.blog .third-block a.btn.btn-link:hover {
	color: #EF3340;
}

.blog a.btn-primary {
    text-align: center;
    width: 200px;
    margin: 0 auto;
    display: block;
    clear: both;
}

/*---- Contact Page ----*/
.sub-header-contact {
    margin-top: 84px;
    margin-bottom: 0;
    height: 600px;
    overflow: hidden;
    height: 577px;
}

.map-container {
    width: 100%;
}

.contact-title .title-1 {
    font-size: 130px;
    -webkit-text-stroke: 2px #000;
    color: transparent;
    text-align: center;
    line-height: 86px;
    display: block;
    height: auto;
    font-family: 'Barlow';
    text-transform: lowercase;
}

/*---- About Page ----*/

.hash-tag {
    color: #F33344;
    text-transform: uppercase;
    font-family: 'Barlow';
}

.split-block-careers .half {
	display: table;
    margin: 0;
    color: #222;
    background-color: #ffffff;
    width: 50%;
    height: 600px;
    position: relative;
    top: 0px;
}

.split-block-careers .half p {
	position: relative;
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    line-height: 28px;
    text-align: left;
    padding: 0 40px;
}

.insta-gallery {
    margin: 80px 0;
}

.insta-gallery .col-sm-3 {
    padding: 0px;
}

.insta-gallery .col-sm-3 img {
    width: 100%;
	height: auto;
}

.red .blue {  
    min-height: 380px;
    width: 380px;
}

.insta-gallery p {
    text-align: center;
    padding-top: 50px;
}

.insta-gallery img {
    background-position: ;
}

.judge-title {
	position: relative;
    display: table-cell;
    vertical-align: middle;
	font-family: 'BankGothicBT-Medium';
	text-transform: uppercase;
	font-size: 110px;
    -webkit-text-stroke: 2px #000;
	color: transparent;
	line-height: 75px;
	width: 100%;
    text-align: center;
}

@media only screen and (max-width: 1200px) {
	.split-block-careers .half {
		height: 805px;
		
	}
}

@media only screen and (max-width: 992px) {
  .split-block-careers .half {
		height: auto;
		width: 100%;
	  	padding: 120px 40px;
	}
	
	.split-block-careers .half.float-left {
		padding-bottom: 0;
	}
	
	.split-block-careers .half .judge-title {
		font-size: 80px;
		display: block;
	}
	
	.split-block-careers .half p {
		text-align: center;
	}
	
	.split-block-careers .half .judge-title br {
		display: none;
	}
	
	
}

@media only screen and (max-width: 768px) {
  
}

@media only screen and (max-width: 640px) {
	.insta-gallery .col-sm-3 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}

@media only screen and (max-width: 475px) {
  
}

@media only screen and (max-width: 368px) {
  
}

/*---- Athletes Page ----*/

.athletes {
    float: left;
    width: 100%;
    max-width: 100%;
}

.athletes .individual {
    position: relative;
	padding: 0;
	background: #000;
}

.athletes .individual img {
	width: 100%;
	height: auto;
}

.athletes .individual .overlay {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.6);
	background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(../images/athletes/athlete-1-flip.jpg);
	background-size: cover;
	transition: 0.3s ease all;
}

.athletes .individual:hover .overlay {
	display: block;
}

.athletes .individual .btn.btn-stroke {
	background-color: transparent;
	border: transparent;
	color: transparent;
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0px 20px 20px;
}

.athletes .individual:hover .btn.btn-stroke {
	border: 2px solid #fff;
	color: #fff;
	background: transparent;
}

.athletes .individual .btn.btn-stroke:hover {
	border: 2px solid #EF3340;
	color: #fff;
	background: #EF3340;
}

.athlete-mission {
	background: #D2D2D2;
    text-align: center;
    padding: 100px 0;
    clear: both;
}

.athlete-mission p {
	margin-top: 40px;
    font-size: 34px;
    font-family: Rm Pro;
    text-align: center;
    font-weight: 300;
    line-height: 42px;
}

/*---- Individual Page ----*/
.individual-intro {
	position: relative;
	width: 100%;
    margin: 84px auto 0;
    float: left;
	padding: 130px 0 0;
}

.individual-intro .back-link a {
	font-family: RM pro;
	font-size: 14px;
	color: #000000;
	letter-spacing: 0.33px;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: underline;
}

.individual-intro .split-block {
	background: transparent;	
}

.individual-intro img {
	width: 100%;
}

.individual-intro .split-block p {
	color: #000;
    padding-left: 0;
    font-size: 21px;
	padding-right: 60px;
}

.individual-intro .two-thirds-block {
	padding-top: 100px;
	padding-bottom: 130px;
}

.individual-intro a.social-btn {
	font-family: RM pro;
    font-size: 21px;
    color: #EF3340;
    letter-spacing: 0.33px;
    line-height: 55px;
    height: 55px;
    display: block;
	margin: 50px 0 0;
}

.individual-intro a.social-btn img {
	width: 55px;
    margin-right: 10px;
    margin-top: 0;
}

.individual-intro .third-block {
	position: absolute;
	bottom: 0;
	right: 0;
}

.individual-intro .third-block img {
	max-width: 376px;
	width: 100%;
}

.sessions h3{
	color: #fff;
	text-align: center;
}

.sessions .schedule {
	background: #fff;
	width: 100%;
	padding: 30px 15px;
}

.sessions .schedule .slot {
	border-top: 1px solid #000;
}

.sessions .schedule .slot .date,
.sessions .schedule .slot .time,
.sessions .schedule .slot .name,
.sessions .schedule .slot .duration {
	display: block;
	float: left;
}

.sessions .schedule .slot .date { width: 15%; }
.sessions .schedule .slot .time { width: 15%; }
.sessions .schedule .slot .name { width: 25%; }
.sessions .schedule .slot .duration { width: 15%; }


.spotify {
	width: 100%;
	float: left;
	padding: 130px 0;
}

.spotify .third-block {
	float: left;
	padding: 0 15px;
}

.spotify h3 {
	text-align: center;
	margin-bottom: 60px;
}



/*---- Classes Page ----*/

.classes {
	max-width: 1600px;
	width: 100%;
	padding: 0 20px;
	background: #fff;
	margin: 130px auto;
}

.classes .half {
	text-align: center;
	position: relative;
	width: 48%;
    margin: 0 1%;
}

.classes .half h2 {
	font-family: 'BankGothicBT-Medium';
	font-size: 42px;
	color: #000;
	position: relative;
	padding-top: 0;
}

.classes .half p {
	position: relative;
	font-family: Rm pro;
	font-size: 21px;
	color: #000;
	z-index: 1;
	padding: 0;
}

.classes .half img {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 0;
}

.classes .class-1,
.classes .class-2 {
	height: auto;
    background-size: cover;
    padding: 60px;
    position: relative;
	cursor: pointer;
}

.classes .class-1 {
    background-image: linear-gradient(rgba(255,255,255,0.8) 0%,  rgba(255,255,255,0.8) 100%), url(../images/classes-1.jpg);
}

.classes .class-2 {
     background-image: linear-gradient(rgba(255,255,255,0.8) 0%,  rgba(255,255,255,0.8) 100%), url(../images/classes-2.jpg);
}

.classes .btn {
    position: absolute;
    display: none;
    top: 50%;
    left: 20%;
    right: 20%;
    margin-top: -25px;
	z-index: 1;
}

.classes .class-1:hover .btn,
.classes .class-2:hover .btn {
    display: block;
}

.classes .class-1:hover h2,
.classes .class-1:hover p,
.classes .class-2:hover h2,
.classes .class-2:hover p {
    opacity: 0;
}

/*---- Refuel Page ----*/

.four-col {
	width: 100%;
}

.four-col .one-qtr {
	width: 25%;
	padding: 20px;
}

.four-col .one-qtr {
	text-align: center;
}

.four-col .one-qtr h2 {
	font-family: Rm pro;
	font-size: 24px;
	font-weight: 800;
}

.four-col .one-qtr span {
	font-weight: 300;
}

.four-col .one-qtr img {
	width: 100%;
	height: auto;
}

.four-col .one-qtr h4 {
	font-size: 18px;
	text-transform: none;	
}

.four-col .one-qtr p {
	padding: 40px 0;
}

.four-col .one-qtr ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.four-col .one-qtr ul li {
	font-weight: 300;
}

.meals {
	float: left;
	margin-bottom: 130px;
}



/*---- Contact Page ----*/

.contact-title {
    text-transform: lowercase;
}

/*---- Footer ----*/
footer {
    background-image: url(../images/pattern-2.gif);
    width: 100%;
    clear: both;
}

/*---- .subscribe ----*/
footer .subscribe {
    padding: 80px 0;
    text-align: center;
}

footer .subscribe h4 {
    font-family: RM Pro;
    font-size: 22px;
    color: #FFFFFF;
    letter-spacing: 0.42px;
    line-height: 40px;
    font-weight: 200;
    margin-bottom: 38px;
}

.form-group {
    position: relative;
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    clear: both;
    min-height: 54px;
}

footer .subscribe form input {
     width: 100%;
    float: left;
    height: 54px;
    border-radius: 8px 30px 30px 8px;
    border: none !important;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 20px;
    letter-spacing: 1px;
}

footer .subscribe .no-spam {
    display: block;
    width: 100%;
    color: #afafaf;
    font-weight: 200;
    padding: 20px 0 0;
    font-size: 15px;
}

footer .subscribe button {
    background: #000000;
    color: #FFFFFF;
    border-radius: 0px 8px 8px 0px;
    border: none;
    position: absolute;
    right: 0px;
	letter-spacing: 0.5px;
    padding: 15px 40px;
    text-transform: uppercase;
	font-weight: 400;
}

footer .subscribe button:hover {
	background: #EF3340;
}

footer .bottom-bar {
	background: #000;
	width: 100%;
	float: left;
	padding: 0 40px;
}

footer .bottom-bar .nav-link {
	display: inline;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1.29px;
	float: left;
}

footer .bottom-bar .nav-link:hover {
	color: #EF3340;
}

footer .bottom-bar p.copyright {
	color: #737373;
	font-size: 14px;
	margin: 0;
	padding: 22px 0;
	letter-spacing: 0.3px;
}

footer .bottom-bar p.copyright a {
	color: #737373;
	text-decoration: underline;
}

footer .bottom-bar p.copyright a:hover {
	color: #EF3340;
}
